.selected {
    animation-duration: 1000ms;
    animation-name: selectionslidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes selectionslidein {
    from {
        background: #aad;
    }

    to {
        background: #bbf;
    }
}
