body {
    color: #000;
    background: #dfdfdf;
    /*font-family: 'Helvetica Neue';*/
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin:0;
}

.flex {
    display: -webkit-flex;
    display: flex;
}

.space-around {
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.column {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.row {
    -webkit-flex-direction: row;
    flex-direction: row;
}

.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.nowrap {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.flex-one {
    -webkit-flex: 1;
    flex: 1;
}
.fullSpace {
    width: 100%;
    height: 100%;
}

.main_scenePreview {
    width: 100%;
    border: none;
}

.previewPane {
    background-color: #fafafa;
}

.fastPane {
    overflow-y: auto;
    width:150px !important;
}
.optionsPane {
    max-height: 22px;
    min-height: 22px;
    width: 100%;
    border-bottom: 1px solid #aad;

    overflow-x:auto;
    overflow-y: hidden;
    transition: all 100ms;
}

.optionsPane:hover {
    max-height: 500px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.optionsPane > div,
.fastPane >div {
    box-shadow:0 2px 1px  rgba(0,0,0,0.3);
    border-bottom:1px solid #999;
    padding: 0 3px;
    cursor: pointer;
    max-height: 18px;
    min-height: 18px;
    line-height: 18px;
    text-align: center;
    white-space: nowrap;
    margin: 2px 2px;
}
.optionsPane > div:hover,
.fastPane >div:hover {
    background: #aad;
}

.propertiesPane {
    width: 200px;
    border-left: 1px solid #aad;
    border-right: 1px solid #aad;
}


.main_scenePreview *:hover:after {
    content:'',
    width: 100%;
    height: 100%;
    display: block;
    background: #f0f;
    opacity:0.3;
}

.main_sceneSelector,
.main_attributesSection,
.main_extrasSection {
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow:0 2px 1px rgba(0,0,0,0.3);

}
.main_sceneSelector > div,
.main_attributesSection > div,
.main_extrasSection >div { 
    box-shadow:0 2px 1px rgba(0,0,0,0.3);
    border-bottom:1px solid #999;
    min-height: 20px;
    max-height: 60px;
    margin: 1px 0;
    cursor: pointer;
    position: relative;
    display: -webkit-flex;
    display: flex;
    margin: 2px 2px;
}
.main_sceneSelector > div input,
.main_attributesSection > div input,
.main_extrasSection >div input {
    flex: 1;
}

.main_sceneSelector > div label,
.main_attributesSection > div label,
.main_extrasSection >div label {
    flex: 0 0 100px;
}

.main_sceneSelector > div mark {
    background: none;
    color: #FAD;
}

.main_sceneSelector > div:hover,
.main_attributesSection > div:hover,
.main_extrasSection >div:hover {
    background: #aab;
}
.selected {
    background: #aad;
}
/* CHEAP SOLUTION FOR MAKING IT A BUTTON (DIV ONLY)*/
.main_sceneSelector > div::after {
    content:'';
    z-index: 1;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.optionsPane >div,
.main_extrasSection >div,
.main_attributesSection>div,
.main_sceneSelector>div,
.propertiesPane,
.popup > div[data-button] {
    -webkit-transition: all 100ms linear;
   -moz-transition: all 100ms linear;
   -o-transition: all 100ms linear;
   -ms-transition: all 100ms linear;
   transition: all 100ms linear;
}
.hidden {
    display: none;
}
.alert {
    font-weight: bold;
    text-align: center;
    color: #f88;
    flex: 1;
}
.popup {
    box-shadow:0 2px 5px rgba(0,0,0,0.9);
    z-index: 100;
    overflow: visible;
    position: fixed;
    top: 30px;
    left: 20%;
    right: 20%;
    bottom: 30px;
    background: #fff;
    cursor: default;

}
.popup::before {
    color: #fff;
    font-weight:bolder;
    content:'CLOSE POPUP X';
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgba(10,0,4,0.4);
    cursor: default;
}

.popup * {
    display: inline-block;
    margin: auto auto;
}

.popup div[data-content] {
    background:#fff;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: flex-start !important;
    align-items: flex-start;
    justify-content: flex-start;
             '
}

.popup div[data-button] {
    cursor: pointer;
    box-shadow:0 1px 2px rgba(0,0,0,0.9);
    padding: 10px
    min-width: 40px;
    line-height: 30px;
    min-height:30px;
    max-height:30px;
    flex: auto;
    margin: 2px;
    padding: 10px;
}

.popup div[data-button]:hover {
    background: #aad;
}
[data-content] [data-info] {
    padding:10px;
    box-shadow:0 1px 2px rgba(0,0,0,0.9);
}
.column[data-content] [data-info] {
    padding:10px;
    box-shadow:0 1px 2px rgba(0,0,0,0.9);
    width: 100%;
    margin: 0;
}