.flex {
    display: flex;
}

.space-around {
    justify-content: space-around;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

.flex-one {
    flex: 1;
}
.flex-full {
    flex: 1 0 100%;
}
