#loading-marker-animation-state:first-child div {
  display: block;
  width: 56px;
  height: 56px;
  border: 1px solid rgba(0,0,0,0.3);
  background-color: #666;
  border-radius: 10%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#loading-marker-animation-state:first-child>div>div {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 25%;
  margin: auto;
  overflow: hidden;
  background-color: #333;
}

#loading-marker-animation-state:first-child div div div {
  width: 70px;
  height: 30px;
  margin: auto;
  top: 100px;
  left: -5px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 0%;
  border: 5px solid rgba(0,0,0,0.3);
  animation-name: loadinganimation, coloranimationforloading;
  animation-duration: 0.3s;
  animation-timing-function:ease;
  animation-iteration-count:infinite;
  animation-direction: alternate;
}

@keyframes loadinganimation{

  100% { top: -100px }
}

@keyframes coloranimationforloading{
  0%  { background-color: #d33; }
  20% { background-color: #aad; }
  40%  { background-color: #d33; }
  60% { background-color: #aad; }
  80%  { background-color: #d33; }
  100% { background-color: #aad; }
}
