.element-selection-button {
    position: relative;
    min-height: 15px;
    max-height: 15px;
    background: #CECECE;

    & .id-listing {
        color: #723;
    }

    & .class-listing {
        color: #327;

    }

    & .element-tiny-info {
        background: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 80px;
        width: 80px;
    }

    & div {
        font-size: 8px;
        line-height: 8px;
        margin-left: 2px;
        margin-right: 2px;
        padding: 1px 0;

    }

    &[data-not-touch] {
        background: #d33;
        color: #fff;
        & .id-listing {
            color: #afa;
        }

        & .class-listing {
            color: #aaf;
        }
    }

    &[data-tree-depth]{
        &::before {
            font-size: 10px;
            display: inline-block;
            content: '';
            color:#fff;
            padding: 0 2px;
            background: #555;
            line-height: 11px;
            margin: 2px 0;
            text-align: center;
            box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
            //background: -webkit-linear-gradient(left, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%);
        }
    }

    .collapse-element {
        width: 15px;
        line-height: 11px;
        background-color: #f5f5f5;
        color: #000;
        text-align: center;
        margin: 2px;
        margin-left: 0;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        border-radius: 0 3px 3px 0;

        &:hover {
            background-color: #afa;
        }
    }
}
