.right-side-pane {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 230px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    transition: right 150ms;

    &.pane-hidden {
        right: -230px;
    }

    .close-button {
        width: 100%;
        cursor: pointer;
        background: #4184f3;
        text-align: center;
        height: 20px;
        line-height: 20px;
    }

    .right-side-pane-inner {
        position: relative;
        flex: 1 1 auto;
        max-height: calc(100% - 20px);
        overflow-x: hidden;
        overflow-y: auto;

        .right-side-pane-plugin {
            margin: 2px 1px;
            border: 1px solid rgba(255,255,255,0.6);

            .right-side-pane-plugin-title {
                background-color: #3BCC33;
                text-align: center;
            }
            .right-side-pane-plugin-content {
                position: relative;
                input {
                    width: 100%;
                }
            }
        }
    }
}
