.right-side-pane {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 230px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    transition: right 150ms;

    &.pane-hidden {
        right: -230px;
    }

    .close-button {
        width: 100%;
        cursor: pointer;
        background: #4184f3;
        text-align: center;
        height: 20px;
        line-height: 20px;
    }

    .right-side-pane-inner {
        position: relative;
        flex: 1 1 auto;
        max-height: calc(100% - 20px);
        overflow-x: hidden;
        overflow-y: auto;

        .right-side-pane-module {
            margin: 2px 2px;
            box-shadow:0 0 1px #3BCC33;

            .right-side-pane-module-title {
                background-color: #3BCC33;
                text-align: center;
            }
            .right-side-pane-module-content {
                position: relative;
                display: block;
                input {
                    width: 100%;
                    max-width: 100%;
                    min-width: 100%;

                    border: none;
                    padding: 2px;
                }
                .in-row-2 {
                    input {
                        width: 50%;
                        max-width: 50%;
                        min-width: 50%;
                    }
                }
            }
        }
    }
}
